h4 {
    text-align: left;
}

p{
    text-align: center;
}

h2 {
    text-align: center;
}

.container {
    background-image: url(../../../src/assets/images/wall_paper.jpg);
    height: 88vh;
    width: 80vw;
    border: solid;
    background-position: cover;
    background-repeat: no-repeat;
}