* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #bfcde0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-screen, .game-container {
  background-color: #cfd9e7;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}

.start-box button, .buttons button {
  margin-top: 15px;
  background-color: #002d62;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.card {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
