/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* BODY */
body {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* A4 PAGE */
.page {
    width: 210mm;
    height: 297mm;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.104);
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #53728e4b;
    color: white;
}

/* .logo img {
    margin-right: 20px;
    filter: invert(1);
} */

.intro h2 {
    font-size: 26px;
    letter-spacing: 1px;
}

.intro h3 {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.9;
}

/* MAIN CONTENT */
.content {
    display: flex;
    height: 100%;
}

/* LEFT COLUMN */
.contact {
    width: 35%;
    background: #ebf0f4;
    padding: 20px;
}

.contact h4 {
    font-size: 14px;
    margin: 15px 0 8px;
    color: #0b1c2d;
    border-bottom: 2px solid #0b1c2d;
    padding-bottom: 4px;
}

.contact-item {
    font-size: 12px;
    margin-bottom: 8px;
}

.contact a {
    color: #0b1c2d;
    text-decoration: none;
}

.contact ul {
    padding-left: 18px;
    font-size: 12px;
}

.contact p {
    font-size: 12px;
    margin-bottom: 6px;
}

/* RIGHT COLUMN */
.about {
    width: 65%;
    padding: 20px;
}

.about h4 {
    font-size: 14px;
    margin: 15px 0 8px;
    color: #0b1c2d;
    border-bottom: 2px solid #0b1c2d;
    padding-bottom: 4px;
}

.about h5 {
    font-size: 13px;
    margin-top: 8px;
    color: #333;
}

.about p,
.about li {
    font-size: 12.5px;
    line-height: 1.5;
    color: #333;
}

.about ul {
    padding-left: 18px;
}

/* LINKS */
a {
    word-break: break-word;
}

/* PRINT */
@media print {
    body {
        background: none;
        padding: 0;
    }
    .page {
        box-shadow: none;
    }
}
