body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.page {
    width: 21cm;
    /* A4 width */
    height: 26.7cm;
    /* A4 height */
    margin: 20px auto;
    border: 3px solid #000;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    background-color: lightgray;
    padding: 20px;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.content {
    display: flex;
    flex: 1;
}

.contact {
    flex: 1;
    background-color: lightslategray;
    padding: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.about {
    flex: 2;
    padding: 15px;
}

h2,
h3,
h4,
h5 {
    margin: 10px 0;
}

img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}